@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Playfair+Display:400,900');

@font-face {
  font-family: 'Intro';
  src: url('../fonts/intro-webfont.woff2') format('woff2'),
       url('../fonts/intro-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'Intro Rust';
  src: url('../fonts/introrustg-base2line-webfont.woff2') format('woff2'),
       url('../fonts/introrustg-base2line-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}