.ba-header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
  transition: background-color .3s ease;
  &.ba-stick{
    background-color: rgba($secondary-color, 0.9);
    .ba-logo{
      height: 56px;
      img{
        transform: translateY(-52px);
      }
      &:before, &:after{
        transform: scaleX(2);
      }
    }
  }
}

.ba-logo{
  height: 76px;
  display: block;
  float: left;
  position: relative;
  padding: 0 8px;
  transition: height .3s ease;

  @include breakpoint(medium){
    padding: 0 16px;
  }

  img{
    transition: transform .3s ease;
  }
  
  &:before, &:after{
    position: absolute;
    content: '';
    height: 1px;
    background: #7a7777;
    top: 100%;

    transition: transform .3s ease;
  }
  &:before{
    right: 100%;
    width: 100px;
  }
  &:after{
    left: 100%;
    width: 100vw;
  }

}

.ba-main{
  &-nav{
    align-self: stretch;
    display: flex;
  }
  &-menu.menu{
      display: flex;
      white-space: nowrap;
      li{
        display: flex;
        margin-bottom: -1px;
      }
    a{
      color: $white;
      text-transform: uppercase;
      font: 400 13px/1 $header-font-family;
      display: flex;
      align-items: center;
      &:hover, &:focus{
        color: $primary-color;
      }
    }
    .active{
      a{
        border-bottom: 1px solid $primary-color; 
      }
    }
  }
}

.ba-top-bar{
  display: flex;
  align-items: center;
  @include breakpoint(medium down){
    padding-left: 20px;
    padding-right: 20px;
  }
}

.top-bar-title{
  flex-grow: 1;
  padding-top: 10px;
  @include breakpoint(large){
    padding-top: 22px;
  }
}

.ba-main-menu{
  white-space: nowrap;
}

.ba-top-tel{
  font: 400 16px/1 $header-font-family;
  color: $white;
  letter-spacing: -0.03em;
  white-space: nowrap;

  margin-left: 30px;

  @include breakpoint(medium down){
    margin-right: 20px;
  }

  @include breakpoint(medium){
    font-size: 24px;
  }
  @include breakpoint(large){
    font-size: 27px;
  }
  @include breakpoint(xlarge){
    margin-left: 100px;
  }
}