<header class="ba-header">
		<div class="top-bar">
			<div class="top-bar-title">
				<a class="ba-logo" href="index.html">
					<img src="assets/img/logo.png" alt="CoffeeMaker">
				</a>
			</div>
			<span class="float-right" data-responsive-toggle="responsive-menu" data-hide-for="medium">
				<button class="menu-icon dark" type="button" data-toggle></button>
			</span>
			<div id="responsive-menu">
				<div class="top-bar-right">
					<ul class="ba-main-menu menu vertical medium-horizontal">
						<li class="active"><a href="#program">program</a></li>
						<li><a href="#gallery">gallery</a></li>
						<li><a href="#reviews">reviews</a></li>
						<li><a href="#partners">partners</a></li>
						<li><a href="#contact">contact</a></li>
					</ul>
					<a class="ba-top-tel" href="tel:+380996611730">+38 (099) 66-11-730</a>
				</div>
			</div>
		</div>
</header>
